.StripeCheckoutFormModalComponent {
    min-height: 256px;
    width: 100%;
}

.StripeCheckoutFormModalComponent .CardContainer {
    min-height: 48px;
}

.StripeCheckoutFormModalComponent h2 {
    margin-top: 0;
    margin-bottom: 4px
}

.StripeCheckoutFormModalComponent .Container {
    margin-left: 32px;
}

.StripeLink {
    margin-right: auto;
}

.StripeCheckoutFormModalComponent input {
    max-width: 256px;
    margin-bottom: 2em;
}

.StripeCheckoutFormModalComponent .ValidationError {
    color: red;
}