.Modal {
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@media only screen and (max-width: 800px) {

    div.ModalContent {
        margin: 0;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .ModalCloseButton {
        color: black !important;
    }
}

/* Modal Content/Box */
.ModalContent {
    background-color: #fefefe;
    margin: 24px;
    padding: 20px;
    border: 1px solid #888;
    min-width: 50%;
    max-width: 80%;
    max-height: 90%;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
}

/* The Close Button */
.ModalCloseButton {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 1em;
    right: 1em;
}

.ModalCloseButton:hover,
.ModalCloseButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
