<script>[[AsyncToggleableTabManagerComponent.js]]</script>

<style>[[AsyncToggleableTabManagerComponent.css]]</style>

<script>JSRender.addTemplate('AsyncToggleableTabManagerComponent_template', `[[_AsyncToggleableTabManagerComponent.html]]`);</script>