<div class="BannerComponent" id="[[componentId]]" style="min-height: [[height]]; height: [[height]];">
  <img src="[[imageURI]]">
  [[if textOverlay]]<div class="TextOverlay">[[textOverlay]]</div>[[endif]]
</div>