import('/src/jstyle/Relative.css');

.HTMLSlideshowComponent {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.HTMLSlideshowComponent .SlideshowButton {
    z-index: 1;

    background-color: white;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 24px;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 1);

    outline: none;
}

.HTMLSlideshowComponent .SlideshowButton:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

.Hidden {
    display: none;
}

.SlideInFromRight {
    animation: SlideInFromRight 0.5s forwards;
    -webkit-animation: SlideInFromRight 0.5s forwards;
}

@keyframes SlideInFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes SlideInFromRight {
    0% { transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}

.SlideInFromLeft {
    animation: SlideInFromLeft 0.5s forwards;
    -webkit-animation: SlideInFromLeft 0.5s forwards;
}

@keyframes SlideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes SlideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}

.SlideOutToLeft {
    animation: SlideOutToLeft 0.5s forwards;
    -webkit-animation: SlideOutToLeft 0.5s forwards;
}

@keyframes SlideOutToLeft {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes SlideOutToLeft {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.SlideOutToRight {
    animation: SlideOutToRight 0.5s forwards;
    -webkit-animation: SlideOutToRight 0.5s forwards;
}

@keyframes SlideOutToRight {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes SlideOutToRight {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}
